<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About QFlow</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <div class="logo">
        QFlow
    </div>

    <ul>

        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>

    </ul>

</nav>

<div class="container">

    <h1>About QFlow</h1>

    <p>
        <strong>QFlow</strong> is a Cloud-Based Smart Queue Management System
        designed to reduce waiting time and improve customer experience by
        allowing users to join queues online and monitor their queue status in
        real time.
    </p>

    <br>

    <h2>Objectives</h2>

    <ul style="text-align:left; display:inline-block;">

        <li>Reduce physical waiting lines.</li>

        <li>Provide digital token generation.</li>

        <li>Enable real-time queue monitoring.</li>

        <li>Improve efficiency for organizations and customers.</li>

    </ul>

    <br><br>

    <h2>Key Features</h2>

    <ul style="text-align:left; display:inline-block;">

        <li>Customer Registration & Login</li>

        <li>Secure Email OTP Verification</li>

        <li>Online Token Booking</li>

        <li>Live Queue Progress</li>

        <li>Organization Dashboard</li>

        <li>Real-Time Queue Management</li>

    </ul>

    <br><br>



</div>

</body>

</html>