<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact QFlow</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <div class="logo">
        QFlow
    </div>

    <ul>

        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>

    </ul>

</nav>

<div class="container">

    <h1>Contact Us</h1>

    <p>

        We'd love to hear from you. If you have any questions,
        suggestions, or need assistance, feel free to reach out.

    </p>

    <br>

    <h2>Support Details</h2>

    <p>

        📧 <strong>Email:</strong> support@qflow.com

    </p>

    <p>

        📞 <strong>Phone:</strong> 1234567788

    </p>

    <p>

        📍 <strong>Address:</strong><br>
         Pune<br>
        Maharashtra, India

    </p>

    <br>

    <h2>Working Hours</h2>

    <p>

        Monday - Friday : 9:00 AM - 7:00 PM

    </p>

    <p>

        Saturday : 10:00 AM - 4:00 PM

    </p>

    <p>

        Sunday : Closed

    </p>

    <br>

    <h2>Our Mission</h2>

    <p>

        To simplify queue management by providing a secure,
        efficient, and user-friendly digital platform for
        organizations and customers.

    </p>

</div>

</body>

</html>