<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Customer Access</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <div class="logo">
        QFlow
    </div>

    <ul>

        <li><a href="/">Home</a></li>

    </ul>

</nav>

<div class="container">

<h1>Welcome to QFlow</h1>

<h2>Customer Access</h2>

<p>

Already have an account?
Login to continue.

</p>

<a href="/login">
<button>Login</button>
</a>

<br><br>

<p>

New to QFlow?

Create an account to join queues.

</p>

<a href="/register">
<button>Register</button>
</a>

</div>

</body>

</html>




