<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>QFlow</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <nav>

        <div class="logo">
            QFlow
        </div>

        <ul>

            <li><a href="/">Home</a></li>

            <li><a href="about">About</a></li>

            <li><a href="contact">Contact</a></li>

        </ul>

    </nav>

    <div class="container">

        <h1>QFlow</h1>

        <h2>Cloud-Based Smart Queue Management System</h2>

        <p>
            Reduce waiting time by joining queues online.
            Track your live queue position,
            receive digital tokens,
            and experience a smarter way to manage queues.
        </p>

        <br>

        <a href="/customer">
            <button>Join Queue</button>
        </a>

        <a href="/organization">
            <button>Organization Login</button>
        </a>

    </div>

</body>

</html>